.nav-container {
    width: 100%;
    border-bottom: 1px solid #AAA;
    text-align: center;
    position: relative;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    position: relative;
}

.nav-list-item {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}

.nav-list-item a{
    font-weight: bold;
    color: black;
}

.nav-list-item a:hover{
    text-decoration: underline;
}

